@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

/* Estilos gerais */
body {
  font-family: 'Lato', Arial, sans-serif;
  background-color: #fffefe;
  transition: background-color 0.5s ease;
}

/* Estilos do resultado */
.result {
  max-width: 298px;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
  height: 200px;
  display: flex;
}

#display {
  width: 100%;
  margin-bottom: 10px;
  font-size: 28px;
  text-align: right;
  border: none;
  background-color: transparent;
  align-self: flex-end;
  transition: color 0.5s ease;
}

#display:focus {
  outline: none;
}

/* Estilos da calculadora */
.calculator {
  max-width: 350px;
  margin: 0 auto;
  background-color: #f8f8f9;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.buttons-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-bottom: 10px;
}

.buttons-bottom {
  display: flex;
}

.buttons-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.buttons-side button {
  width: 100px;
  margin-bottom: 10px;
}

/* Estilos dos botões */
button {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #e5e5e5;
}

#buttonred {
  color: #ef8a8b;
}

#buttongreen {
  color: #3afad7;
}

/* Estilos do switch */
.toggle-container {
  position: fixed;
  top: 10px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px; /* Alterado para 40px */
  height: 20px; /* Alterado para 20px */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px; /* Alterado para metade da altura (10px) */
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; /* Alterado para 16px (80% da altura) */
  width: 16px; /* Alterado para 16px (40% da largura) */
  left: 2px; /* Alterado para 2px (metade da diferença entre largura original e nova largura) */
  bottom: 2px; /* Alterado para 2px (metade da diferença entre altura original e nova altura) */
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #26a38c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #77b5fe;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* Estilos para o modo escuro */
body.dark-mode {
  background-color: #292c37;
}

.dark-mode-text {
  color: #fffefe;
}

.dark-mode-bg {
  background-color: #262b32;
}

.dark-mode-button {
  background-color: #262b32;
  color: #fffefe;
}

.calculator.dark-mode {
  transition: background-color 0.5s ease;
}

.calculator.dark-mode button {
  transition: background-color 0.5s ease;
}

body.dark-mode .toggle-square {
  background-color: #262b32;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}